<navigation></navigation>


<div class="container">

    <div class="starter-template">
        <h1 [ngStyle]="{ 
            color: 'red', 
            'font-weight': 'bold' }">
            Using directives</h1>

        <p myHighlight="green">
            Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones
            HTML document.
        </p>

    </div>

    <ul>
        <li *ngFor="let item of items;">{{item}}</li>
    </ul>

    <p *ngIf="showItem">ShowMe</p>

    <button (click)="toggleShowItem()">Toggle NgIf</button>

</div>
<!-- /.container -->