
**/node_modules/*
Angular-Course/*/*/app/*.js
Angular-Course/*/*/app/*.js.map
Angular-Course/**/npm-debug.log*
helper/**/*.*
Angular-Course/12_Webpack/.dist
Angular-Course/12_Webpack/aot
Angular-Course/*/.vscode/
Angular-Course/*/.dist/
Angular-Course/*/*/.dist/
Angular-Course/13_Webpack/aot
AngularJS-Course/00_HelloWorld/.vscode/settings.json
