<main role="main" class="container">
  <div class="starter-template">
    <h1>Forms</h1>
    <p class="lead">
      Use this document as a way to quickly start any new project. <br />
      All you get is this text and a mostly barebones HTML document.
    </p>
  </div>
  <form #form="ngForm" (ngSubmit)="formSubmit(form.value)">
    <label>Firstname:</label>
    <input type="text" name="firstname" [(ngModel)]="firstname" />
    <p>You entered {{firstname}}</p>

    <label>Lastname:</label>
    <input type="text" name="lastname" [(ngModel)]="lastname" />
    <p>You entered {{lastname}}</p>

    <button type="submit">Submit</button>
  </form>
</main>
<!-- /.container -->
